$primary-text-color: #2c2c2c;
$orange-700: #e05000;
$primary-main-color: #46b20f;
$grey-800: #656565;
$orange-600: #ff6916;
$green-200: #dcffca;

$green-1000: #216000;
$orange-100: #fff0e7;
$green-100: #f2ffec;
$orange-200: #ffd5bd;
$grey-500-main: #a3a3a3;
$orange-300: #ffba94;
$green-300: #c5ffa8;
