// Primary
$primary-text-color: #2c2c2c;
$primary-main-color: #46b20f;

// Green
$green-200: #dcffca;
$green-1000: #216000;
$green-300: #c5ffa8;
$green-100: #f2ffec;

// Grey
$grey-500-main: #a3a3a3;
$grey-800: #656565;

// Orange
$orange-100: #fff0e7;
$orange-200: #ffd5bd;
$orange-300: #ffba94;
$orange-600: #ff6916;
$orange-700: #e05000;

$content-color: #19191b;
