@use "../variables";

.application {
  padding-top: 254.46px;

  &-item {
    display: flex;
    align-items: flex-start;
    gap: 15.83px;

    &__one {
      margin-left: 113px;
    }

    &__two {
      justify-content: center;
      margin-left: -5px;
    }

    &__three {
      margin-left: -7px;
    }

    &__four {
      margin-left: 124px;
    }

    &__mt {
      margin-top: 53.83px;
    }
  }

  &-icon {
    max-width: 55.8333px;
    max-height: 55.8333px;
    object-fit: cover;
  }

  &-desc {
    margin-top: 6.67px;
    max-width: 217px;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: variables.$primary-text-color;
  }
}
