@use "../variables";
@use "../abstracts";

.contact {
  padding: 144.67px 0 101px 0;

  @include abstracts.screen(xl) {
    padding: 80px 0;
  }

  &-image {
    max-width: 100%;
    object-fit: cover;
    margin-left: 4px;

    @include abstracts.screen(sm) {
      display: none;
    }
  }

  &-form {
    margin-left: -4px;
    &__heading {
      max-width: 361px;
      margin-top: 58.5px;

      @include abstracts.screen(xl) {
        margin-top: 0;
      }

      @include abstracts.screen(sm) {
        text-align: center;
        margin: 0 auto;
      }
    }

    &__name {
      width: 100%;
      max-width: 592px;
      margin-top: 26px;
      padding: 13.333px 491.667px 13.333px 13.333px;
      border-radius: 6.667px;
      border: 0.833px solid variables.$grey-500-main;
    }

    &__row {
      display: flex;
      gap: 17.5px;
      margin-top: 24.76px;
    }

    &__email,
    &__phone {
      width: 286.667px;

      @include abstracts.screen(lg) {
        width: 100%;
        max-width: 286.667px;
      }
    }

    input,
    textarea {
      padding: 13.333px 150px 13.333px 13.333px;
      border-radius: 6.667px;
      border: 0.833px solid variables.$grey-500-main;

      @include abstracts.screen(lg) {
        padding-right: 50px;
      }
    }

    input::placeholder,
    textarea::placeholder {
      font-size: 1.6rem;
      font-weight: 400;
      line-height: normal;
      color: variables.$grey-500-main;

      @include abstracts.screen(lg) {
        font-size: 1.2rem;
      }
    }

    textarea {
      margin-top: 23.67px;
      display: block;
      width: 100%;
      max-width: 592px;
      height: 149px;
      resize: none;
    }

    &__btn {
      margin-top: 26.65px;
      display: block;
      margin-left: 462px;

      @include abstracts.screen(xxl) {
        margin-left: 0;
      }
    }
  }
}
