@use "../variables";
@use "../abstracts";

.desc,
.heading,
.sub-heading,
.sub-desc {
  color: variables.$primary-text-color;
  font-style: normal;
}

.desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 127.604%;
}

.heading {
  text-align: center;
  font-size: 3.1667rem;
  font-weight: 800;
  line-height: 131.523%;

  @include abstracts.screen(lg) {
    font-size: 2.8rem;
  }
}

.sub-heading {
  font-size: 2rem;
  font-weight: 600;
  line-height: 133.333%;
}

.sub-desc {
  font-size: 1.333rem;
  line-height: 153.125%;
}
