@use "../variables";

.desc {
  color: variables.$primary-text-color;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 127.604%;
}

.heading {
  color: variables.$primary-text-color;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 800;
}
