@use "../base";
@use "../variables";

.dropdown {
  position: absolute;
  top: 70px;
  right: -100%;
  background-color: #fff;
  box-shadow: 0 0 5px #ccc;
  padding-bottom: 55px;
  transition: transform 0.4s, visibility 0.4s, opacity 0.4s;
  transform-origin: top right;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  z-index: 999;

  &__hide {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
  }

  &-inner {
    width: 1068px;
  }

  &-form {
    padding: 53px 0 0px 64px;
  }

  &-header {
    font-family: Inter;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 131.523%;
    color: variables.$primary-main-color;
  }

  &-desc {
    width: 411px;
    margin-top: 12px;
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 170%; /* 23.8px */
    color: #787878;
  }

  &-sub__header {
    margin-top: 15px;
    color: variables.$primary-text-color;
    font-size: 2.8rem;
    font-weight: 700;

    &::after {
      width: 55px;
      height: 1.5px;
      margin-top: 14px;
      content: "";
      display: block;
      background-color: variables.$grey-800;
    }
  }

  &-title {
    display: flex;
    align-items: center;
    gap: 81px;
    margin-top: 20px;

    &__desc {
      color: variables.$grey-800;
      font-size: 1.6rem;
    }

    &__price {
      margin-top: 6px;
      color: variables.$primary-text-color;
      font-size: 2rem;
      font-weight: 400;

      strong {
        font-size: 2.8rem;
        font-weight: 600;
      }
    }
  }

  &-count {
    display: inline-flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    border: 1px solid #a7a7a7;
  }

  &-info {
    display: flex;
    position: relative;

    &:first-of-type {
      margin-top: 55px;
    }

    input {
      margin-top: 13px;
      width: 413px;
      padding: 12px 0 12px 44px;
      border-radius: 8px;
      border: 1px solid #a3a3a3;
      font-size: 1.6rem;

      &::placeholder {
        color: #a3a3a3;
      }
    }
  }

  &-lbl {
    position: absolute;
    top: 13px;
    left: 0;
    transform: translate(16px, 50%);
  }

  &-img {
    position: relative;
    width: 428px;
    height: 634px;
    margin-left: auto;
    border-radius: 21.36px 0px 0px 21.36px;
    background: variables.$green-200;
  }

  &-image {
    position: absolute;
    top: 75px;
    right: 43px;
    z-index: 1;
  }

  &-green-chop {
    position: absolute;
    top: 152px;
    width: 549.346px;
    height: 270.824px;
    display: block;
    transform: rotate(90deg);
    color: variables.$green-1000;
    opacity: 0.15;
    font-size: 135.412px;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
    text-transform: uppercase;
  }

  &-btn {
    margin-top: 24px;
  }

  &-circle,
  &-success__circle {
    position: absolute;
    top: 0;
    right: 0;
    translate: 50% -50%;
    cursor: pointer;
  }

  &-success {
    padding: 80px 199px 46px 199px;
    position: absolute;
    top: 70px;
    right: 54px;
    box-shadow: 0 0 5px #ccc;
    background-color: #fff;
    display: none;
    z-index: 2;

    &__heading {
      margin-top: 43px;
      text-align: center;
      color: variables.$primary-main-color;
      font-size: 3.2rem;
      font-weight: 700;
    }

    &__desc {
      margin-top: 25px;
      width: 537px;
      color: variables.$primary-text-color;
      text-align: center;
      font-size: 2rem;
      line-height: 130%;
    }

    &__hide {
      display: block;
    }
  }
}
