@use "../variables";
@use "../abstracts";

.hero {
  padding-top: 109px;

  &-title {
    height: 708px;
    padding: 222px 0 231px 0;

    @include abstracts.screen(xxl) {
      padding: 50px 0;
      height: 100%;
    }
  }

  &__heading {
    font-size: 3.6667rem;
    font-weight: 800;
    color: variables.$primary-text-color;

    @include abstracts.screen(lg) {
      font-size: 2.8rem;
    }
  }

  &__sub-heading {
    margin-top: 17px;
    width: 384px;
    font-size: 4.3333rem;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    @include abstracts.screen(xxl) {
      width: 100%;
    }

    @include abstracts.screen(lg) {
      font-size: 3rem;
    }
  }

  &__desc {
    margin-top: 28px;
    width: 450px;

    @include abstracts.screen(xxl) {
      width: 100%;
    }
  }

  &-inner {
    position: relative;
    left: 5px;

    &__img {
      position: absolute;
      top: -6px;
      left: -159px;
      z-index: 1;
      object-fit: cover;

      @include abstracts.screen(xxl) {
        left: -71px;
      }

      @include abstracts.screen(lg) {
        width: 70%;
      }

      @include abstracts.screen(md) {
        left: -35px;
      }
    }

    &__background {
      position: absolute;
      width: 776px;
      height: 708px;
      top: 0;
      left: 6px;
      border-radius: 21.36px 0px 0px 21.36px;
      background: variables.$green-200;

      @include abstracts.screen(xxl) {
        width: 100%;
        position: static;
      }

      @include abstracts.screen(lg) {
        height: 530px;
      }

      @include abstracts.screen(md) {
        height: 400px;
      }
    }

    &__desc {
      width: 676.141px;
      position: absolute;
      top: 224px;
      right: -139px;
      color: variables.$green-1000;
      font-size: 16.7rem;
      font-style: normal;
      font-weight: 800;
      line-height: 100%;
      opacity: 0.15;
      transform: rotate(90deg);
      text-transform: uppercase;

      @include abstracts.screen(lg) {
        font-size: 14rem;
      }

      @include abstracts.screen(md) {
        font-size: 10rem;
        width: 300px;
        top: 73px;
        right: -27px;
      }
    }
  }
}
