@use "../variables";

.product {
  padding: 100px 0 133px 0;

  &-heading {
    margin-bottom: -46px;
  }

  &-item {
    position: relative;
    margin-top: 210px;

    &__icon {
      display: block;
      margin: 0 auto;
    }

    &-1 {
      margin-left: 103px;
    }

    &-2 {
      margin-right: 108px;
    }
  }

  &-decorate {
    position: absolute;
    top: -114px;
    left: 50%;
    translate: -50%;
    width: 269px;
    height: 269px;
    border-radius: 50%;
    background: variables.$orange-300;
    z-index: -1;

    &__color {
      background-color: variables.$green-300;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__left {
      margin-left: -28px;
    }
  }

  &-title {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 17.19px;
    text-align: center;
    font-size: 2.333rem;
    font-weight: 700;
    color: variables.$primary-text-color;
    line-height: normal;

    &-1,
    &-5 {
      width: 95px;
    }

    &-2 {
      width: 249px;
    }

    &-3 {
      width: 257px;
    }

    &-4 {
      width: 183px;
    }

    &-6 {
      width: 134px;
    }

    &::after {
      display: block;
      position: absolute;
      bottom: -15px;
      left: 50%;
      translate: -50%;
      content: "";
      width: 41px;
      height: 2px;
      background: variables.$grey-500-main;
    }
  }

  &-desc,
  &-price {
    font-size: 1.667rem;
    font-style: normal;
    line-height: 130%;
  }

  &-desc {
    margin-top: 30.48px;
    display: block;
    // text-align: center;
    color: variables.$grey-800;
  }

  &-price {
    margin-top: 12px;
    // text-align: center;
    color: variables.$primary-text-color;

    strong {
      font-size: 2.333rem;
      font-weight: 600;
      line-height: 114, 3%;
    }
  }
}
