@use "../variables";
@use "../abstracts";

.product {
  padding: 100px 0 133px 0;

  @include abstracts.screen(lg) {
    padding-top: 20px;
  }

  &-heading {
    margin-bottom: -46px;

    @include abstracts.screen(sm) {
      margin-bottom: 50px;
    }
  }

  &-item {
    position: relative;
    margin-top: 210px;

    @include abstracts.screen(sm) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
      max-width: 100%;
    }

    &__icon {
      display: block;
      margin: 0 auto;

      @include abstracts.screen(lg) {
        max-width: 60%;
      }
    }

    &-1 {
      margin-left: 103px;

      @include abstracts.screen(xl) {
        margin-left: 0;
      }
    }

    &-2 {
      margin-right: 108px;

      @include abstracts.screen(xl) {
        margin-right: 0;
      }
    }
  }

  &-decorate {
    position: absolute;
    top: -114px;
    left: 50%;
    translate: -50%;
    width: 269px;
    height: 269px;
    border-radius: 50%;
    background: variables.$orange-300;
    z-index: -1;

    @include abstracts.screen(xl) {
      max-width: 200px;
      max-height: 200px;
    }

    @include abstracts.screen(sm) {
      display: none;
    }

    &__color {
      background-color: variables.$green-300;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__left {
      margin-left: -28px;

      @include abstracts.screen(sm) {
        margin-left: 0;
        max-width: 100%;
      }
    }
  }

  &-title {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 17.19px;
    text-align: center;
    font-size: 2.333rem;
    font-weight: 700;
    color: variables.$primary-text-color;
    line-height: normal;

    @include abstracts.screen(lg) {
      font-size: 1.8rem;
    }

    &-1,
    &-5 {
      width: 95px;
    }

    &-2 {
      width: 249px;
    }

    &-3 {
      width: 257px;
    }

    &-4 {
      width: 183px;
    }

    &-6 {
      width: 134px;
    }

    @include abstracts.screen(sm) {
      width: 100%;
    }

    &::after {
      display: block;
      position: absolute;
      bottom: -15px;
      left: 50%;
      translate: -50%;
      content: "";
      width: 41px;
      height: 2px;
      background: variables.$grey-500-main;
    }
  }

  &-desc,
  &-price {
    font-size: 1.667rem;
    font-style: normal;
    line-height: 130%;

    @include abstracts.screen(lg) {
      font-size: 1.4rem;
    }
  }

  &-desc {
    margin-top: 30.48px;
    display: block;
    color: variables.$grey-800;
  }

  &-price {
    margin-top: 12px;
    color: variables.$primary-text-color;

    strong {
      font-size: 2.333rem;
      font-weight: 600;
      line-height: 114, 3%;

      @include abstracts.screen(lg) {
        font-size: 1.8rem;
      }
    }
  }
}
