@use "../variables";

#service {
  padding-bottom: 114px;
}

.service {
  &__heading {
    width: 558px;
    padding-top: 100px;
    margin: 0 auto;
    line-height: 131.523%;
  }

  &__desc {
    width: 643px;
    text-align: center;
    margin: 24px auto 0;
  }

  &-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 21.67px;
    margin-top: 103px;
  }

  &-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 23.33px;
    // margin-top: 115px;
    width: 294.167px;
    padding: 33.33px 38.33px 58.83px 33.33px;
    border-radius: 3.333px;
    background: #fff;
    box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);

    &__big {
      width: 342.5px;
      padding: 60.83px 35px 86.33px 33.33px;
      .service-item__icon {
        background-color: variables.$green-100;
      }
    }

    &__icon {
      width: 83.33px;
      height: 83.33px;
      padding: 19.17px;
      border-radius: 10px;
      background: variables.$orange-100;
    }

    &__number {
      color: variables.$primary-text-color;
      font-size: 4.333rem;
      font-weight: 800;
    }

    &__desc {
      margin-top: 6px;
      color: variables.$primary-text-color;
      font-size: 2rem;
      font-style: normal;
      line-height: 154.167%;
    }

    &__decorate,
    &__decorate-last {
      position: absolute;
      width: 235px;
      height: 235px;
      border-radius: 50%;
      z-index: -1;
    }

    &__decorate {
      top: -122px;
      left: -112px;
      background-color: variables.$green-200;
    }

    &__decorate-last {
      bottom: -140.33px;
      right: -115.4966px;
      background-color: variables.$orange-200;
    }
  }
}
