<div class="container">
  <div class="blog-inner">
    <h2 class="heading blog-heading">
      GreenChop bảo vệ <span>người dùng như thế nào?</span>
    </h2>
    <p class="desc blog-desc">
      Mỗi đôi đũa GreenChop gồm 2 phần thân đũa và đầu đũa.
      <span
        >Người dùng có thể dễ dàng tách rời hoặc gắn liền 2 phần này với
        nhau</span
      >
    </p>
    <div class="blog-list">
      <a href="#!" class="blog-item">
        <img
          src="./assets/img/Blog/chop-1.svg"
          alt="green-chop"
          class="blog-img"
        />
        <div class="blog-title">
          <h3 class="sub-heading blog-title__heading">01. Thân trên đũa</h3>
          <p class="desc blog-sub__desc blog-sub__desc-1">
            Làm từ nhựa Melamine, đầy đủ điều kiện chứng nhận An toàn thực phẩm.
          </p>
        </div>
      </a>
      <a href="#!" class="blog-item">
        <img
          src="./assets/img/Blog/chop-2.svg"
          alt="green-chop"
          class="blog-img"
        />
        <div class="blog-title">
          <h3 class="sub-heading blog-title__heading">02. Đầu đũa</h3>
          <p class="desc blog-sub__desc blog-sub__desc-2">
            Được làm từ gỗ tre và bảo quản trong bọc khử trùng 100%, không hề có
            sự xâm nhập của vi khuẩn/vì rus gây hại. Người dùng là người đầu
            tiên chạm tay vào đầu đũa sau khi mở bọc.
          </p>
        </div>
      </a>
      <a href="#!" class="blog-item">
        <img
          src="./assets/img/Blog/chop-3.svg"
          alt="green-chop"
          class="blog-img"
        />
        <div class="blog-title">
          <h3 class="sub-heading blog-title__heading">03. Khớp Inox 304</h3>
          <p class="desc blog-sub__desc blog-sub__desc-3">
            Khớp Inox 304 để gắn 2 phần đũa với nhau
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
<div class="blog-background"></div>
