<div class="container">
  <div class="footer-inner">
    <a href="#" class="footer-column__left">
      <img
        src="./assets/img/logo/Logo Greenchop_White 2.svg"
        alt="green-chop"
        class="footer-column__left-img"
      />
      <p class="footer-column__left-desc">
        GreenChop là bạn đồng hành<strong>của người tiêu dùng</strong>
      </p>
    </a>
    <ul class="footer-list footer-list__one">
      <li class="footer-item__header">
        <a href="#" class="footer-item__heading">Trang chủ</a>
      </li>
      <li class="footer-item">
        <a href="#service" class="footer-item__link">Về greenchop</a>
      </li>
      <li class="footer-item">
        <a href="#product" class="footer-item__link">Sản phẩm</a>
      </li>
      <li class="footer-item">
        <a href="#news" class="footer-item__link-icon">Tin tức</a>
      </li>
    </ul>
    <ul class="footer-list footer-list__two">
      <li class="footer-item__header">
        <a href="#!" class="footer-item__heading">Hỗ trợ</a>
      </li>
      <li class="footer-item">
        <a href="#!" class="footer-item__link-icon"
          >Đặt hàng trực tuyến (8h-22h)</a
        >
      </li>
      <li class="footer-item">
        <a
          href="#!"
          class="footer-item__link footer-item__link-decorate footer-item__link-decorate-strong"
        >
          <img
            src="./assets/img/Footer/alarm.svg"
            alt="alarm-icon"
            class="footer-item__link-icon"
          />
          Thứ 2 - Thứ 6</a
        >
      </li>
      <li class="footer-item">
        <a
          href="#!"
          class="footer-item__link footer-item__link-decorate footer-item__link-decorate-strong"
        >
          <img
            src="./assets/img/Footer/phone_outline.svg"
            alt="phone-icon"
            class="footer-item__link-icon"
          />
          091 1717 222</a
        >
      </li>
    </ul>
    <ul class="footer-list footer-list__three">
      <li class="footer-item__header">
        <a href="#!" class="footer-item__heading">Liên hệ</a>
      </li>
      <li class="footer-item">
        <a href="#!" class="footer-item__link footer-item__link-decorate">
          <img
            src="./assets/img/Footer/mail.svg"
            alt="mail-icon"
            class="footer-item__link-icon"
          />
          greenchopvn@gmail.com</a
        >
      </li>
      <li class="footer-item">
        <a href="#!" class="footer-item__link footer-item__link-decorate">
          <img
            src="./assets/img/Footer/globe.svg"
            alt="global-icon"
            class="footer-item__link-icon"
          />
          Greenchop.vn</a
        >
      </li>
      <li class="footer-item">
        <a
          href="#!"
          class="footer-item__link footer-item__link-decorate footer-item__link-decorate-break"
        >
          <img
            src="./assets/img/Footer/map-pin.svg"
            alt="phone-icon"
            class="footer-item__link-icon"
          />
          428 Điện Biên Phủ, P11, Quận 10, TPHCM</a
        >
      </li>
    </ul>
  </div>
  <div class="footer-separate"></div>
  <div class="footer-end">
    <img
      src="./assets/img/Footer/image-end.svg"
      alt="bộ công thương"
      class="footer-end__img"
    />
    <div class="footer-end__list">
      <a href="#!" class="footer-end__link">
        <img
          src="./assets/img/Footer/youtube.svg"
          alt="youtube"
          class="footer-end__icon"
        />
      </a>
      <a href="#!" class="footer-end__link">
        <img
          src="./assets/img/Footer/facebook.svg"
          alt="facebook"
          class="footer-end__icon"
        />
      </a>
      <a href="#!" class="footer-end__link">
        <img
          src="./assets/img/Footer/instagram.svg"
          alt="instagram"
          class="footer-end__icon"
        />
      </a>
      <a href="#!" class="footer-end__link">
        <img
          src="./assets/img/Footer/twitter.svg"
          alt="twitter"
          class="footer-end__icon"
        />
      </a>
    </div>
  </div>
</div>
