<div class="container">
  <div class="header">
    <a href="#">
      <img
        src="./assets/img/logo/Logo-Greenchop.svg"
        alt="green chop"
        class="header-logo"
      />
    </a>
    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="./index.html" class="navbar-link navbar-active">Trang chủ</a>
        </li>
        <li class="navbar-item">
          <a href="./mygreen.html" class="navbar-link">Về Greenchop</a>
        </li>
        <li class="navbar-item">
          <a href="./products.html" class="navbar-link">Sản phẩm</a>
        </li>
        <li class="navbar-item">
          <a href="./news.html" class="navbar-link">Tin tức</a>
        </li>
        <li class="navbar-item">
          <a href="./contact.html" class="navbar-link">Liên hệ</a>
        </li>
        <li class="navbar-item">
          <a href="#!" class="navbar-popup"
            ><img src="./assets/img/icon/Frame.svg" alt="frame-icon"
          /></a>
        </li>
        <li class="navbar-item">
          <a href="#!">
            <img
              src="./assets/img/icon/search.svg"
              alt="search-icon"
              class="navbar-search"
            />
          </a>
        </li>
      </ul>
    </nav>
    <div class="header-overlay"></div>
    <img
      src="./assets/img/logo/menu.png"
      alt="list-icon"
      class="header-icon__list"
    />
  </div>
</div>
