<div class="container">
  <div class="header">
    <img
      src="./assets/img/logo/Logo-Greenchop.svg"
      alt="green chop"
      class="header-logo"
    />
    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a href="#!" class="navbar-link navbar-active">Trang chủ</a>
        </li>
        <li class="navbar-item">
          <a href="#!" class="navbar-link">Về Greenchop</a>
        </li>
        <li class="navbar-item">
          <a href="#!" class="navbar-link">Sản phẩm</a>
        </li>
        <li class="navbar-item">
          <a href="#!" class="navbar-link">Tin tức</a>
        </li>
        <li class="navbar-item">
          <a href="#!" class="navbar-link">Liên hệ</a>
        </li>
        <li class="navbar-item navbar-dropdown">
          <img src="./assets/img/icon/Frame.svg" alt="" class="navbar-popup" />
          <div class="dropdown">
            <div class="dropdown-inner">
              <div class="row g-0">
                <div class="col">
                  <form class="dropdown-form">
                    <h3 class="dropdown-header">Nhập thông tin để đặt hàng.</h3>
                    <p class="dropdown-desc">
                      Bạn muốn mua hàng? Hãy đăng ký vào form này, Greenchop sẽ
                      liên hệ bạn trong thời gian sớm nhất.
                    </p>
                    <h4 class="dropdown-sub__header">Combo - Quán ăn</h4>
                    <div class="dropdown-title">
                      <div>
                        <span class="dropdown-title__desc"
                          >1 Thùng 1000 đôi</span
                        >
                        <div class="dropdown-title__price">
                          Giá: <strong>600.000</strong> vnd
                        </div>
                      </div>
                      <div class="dropdown-count">
                        <span>-</span>
                        <span>1</span>
                        <span>+</span>
                      </div>
                    </div>
                    <label class="dropdown-info">
                      <label for="name" class="dropdown-lbl"
                        ><img src="./assets/img/Pop-up/Profile.svg" alt="" />
                      </label>
                      <input
                        type="text"
                        id="name"
                        placeholder="Tên của bạn"
                        required
                      />
                    </label>
                    <label class="dropdown-info">
                      <label for="email" class="dropdown-lbl">
                        <img src="./assets/img/Pop-up/Message.svg" alt=""
                      /></label>
                      <input
                        type="email"
                        id="email"
                        placeholder="Email"
                        required
                      />
                    </label>
                    <label class="dropdown-info">
                      <label for="number" class="dropdown-lbl"
                        ><img src="./assets/img/Pop-up/Call.svg" alt="" />
                      </label>
                      <input
                        type="text"
                        id="number"
                        placeholder="Số điện thoại"
                        required
                      />
                    </label>
                    <button class="btn dropdown-btn">Gửi</button>
                  </form>
                </div>
                <div class="col">
                  <div class="dropdown-img">
                    <img
                      src="./assets/img/Pop-up/img chop.png"
                      alt=""
                      class="dropdown-image"
                    />
                    <span class="dropdown-green-chop">GREEN CHOP</span>
                  </div>
                </div>
                <img
                  src="./assets/img/Pop-up/x-circle.svg"
                  alt=""
                  class="dropdown-circle"
                />
              </div>
            </div>
          </div>
          <div class="dropdown-success">
            <img
              src="./assets/img/Pop-up/Frame.svg"
              alt=""
              class="dropdown-success__image"
            />
            <h3 class="dropdown-success__heading">
              Bạn đã đặt hàng thành công
            </h3>
            <p class="dropdown-success__desc">
              Ut wisi enim ad minim veniam, quis nostrud exerci tation
              ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
              consequa
            </p>
            <img
              src="./assets/img/Pop-up/x-circle.svg"
              alt=""
              class="dropdown-success__circle"
            />
          </div>
        </li>

        <li class="navbar-item">
          <img
            src="./assets/img/icon/search.svg"
            alt=""
            class="navbar-search"
          />
        </li>
      </ul>
    </nav>
  </div>
</div>
