<div class="container">
  <div class="product-body">
    <h2 class="heading product-heading">Sản phẩm</h2>
    <div class="row">
      <div class="col-4">
        <div class="product-item">
          <div class="product-decorate"></div>
          <img
            src="./assets/img/Product/donut-1.svg"
            alt=""
            class="product-item__icon"
          />
          <h3 class="product-title product-title-1">Combo Quán ăn</h3>
          <span class="product-desc">1 Thùng 1000 đôi</span>
          <div class="product-price">Giá: <strong>600.000</strong> vnd</div>
          <button class="btn-product">Thêm vào giỏ hàng</button>
        </div>
      </div>
      <div class="col-4">
        <div class="product-item">
          <div class="product-decorate product-decorate__color"></div>
          <img
            src="./assets/img/Product/dice-1.svg"
            alt=""
            class="product-item__icon"
          />
          <h3 class="product-title product-title-2">
            Combo <span>Quán ăn - nhà hàng</span>
          </h3>
          <span class="product-desc">1 Thùng 2000 đôi</span>
          <div class="product-price">Giá: <strong>1.200.000</strong> vnd</div>
          <button class="btn-product">Thêm vào giỏ hàng</button>
        </div>
      </div>
      <div class="col-4">
        <div class="product-item">
          <div class="product-decorate"></div>
          <img
            src="./assets/img/Product/gamepad-1.svg"
            alt=""
            class="product-item__icon"
          />
          <h3 class="product-title product-title-3">
            Combo Quán ăn <span>Nhà hàng - Khách sạn</span>
          </h3>
          <span class="product-desc">1 Thùng 3000 đôi</span>
          <div class="product-price">Giá: <strong>1.800.000</strong> vnd</div>
          <button class="btn-product">Thêm vào giỏ hàng</button>
        </div>
      </div>
      <div class="col-4">
        <div class="product-item">
          <div class="product-decorate"></div>
          <img
            src="./assets/img/Product/donut-1.svg"
            alt=""
            class="product-item__icon"
          />
          <h3 class="product-title product-title-4">
            Combo <span>Gia đình bé xinh</span>
          </h3>
          <span class="product-desc">1 Thùng 100 đôi</span>
          <div class="product-price">Giá: <strong>60.000</strong> vnd</div>
          <button class="btn-product">Thêm vào giỏ hàng</button>
        </div>
      </div>
      <div class="col-4">
        <div class="product-item">
          <div class="product-decorate product-decorate__color"></div>
          <img
            src="./assets/img/Product/dice-1.svg"
            alt=""
            class="product-item__icon"
          />
          <h3 class="product-title product-title-5">Combo Gia đình</h3>
          <span class="product-desc">1 Thùng 200 đôi</span>
          <div class="product-price">Giá: <strong>120.000</strong> vnd</div>
          <button class="btn-product">Thêm vào giỏ hàng</button>
        </div>
      </div>
      <div class="col-4">
        <div class="product-item">
          <div class="product-decorate"></div>
          <img
            src="./assets/img/Product/gamepad-1.svg"
            alt=""
            class="product-item__icon"
          />
          <h3 class="product-title product-title-6">
            Combo <span>Đại gia đình</span>
          </h3>
          <span class="product-desc">1 Thùng 300 đôi</span>
          <div class="product-price">Giá: <strong>180.000</strong> vnd</div>
          <button class="btn-product">Thêm vào giỏ hàng</button>
        </div>
      </div>
    </div>
  </div>
</div>
