<div class="container">
  <div class="service-body">
    <h2 class="heading service__heading">
      GreenChop: Giữ an toàn trong từng bữa ăn của người Việt
    </h2>
    <p class="desc service__desc">
      Với sự tinh tế trong việc thấu hiểu hành vi của khách hàng cùng ý tưởng
      đột phá, GreenChop đã trở thành sản phẩm không thể thiếu trong mọi bữa ăn
      mùa dịch tại các nhà hàng, khách sạn, quán ăn...
    </p>
    <div class="service-list">
      <div class="service-item">
        <div class="service-item__decorate"></div>
        <img
          src="./assets/img/Service/icon.svg"
          alt=""
          class="service-item__icon"
        />
        <strong class="service-item__number"> 1000+ </strong>
        <span class="service-item__desc">Hộ gia đình tin dùng GreenChop </span>
      </div>
      <div class="service-item service-item__big">
        <img
          src="./assets/img/Service/icon.svg"
          alt=""
          class="service-item__icon"
        />
        <strong class="service-item__number">600+</strong>
        <span class="service-item__desc"
          >Nhà hàng đã phục vụ GreenChop cho thực khách</span
        >
      </div>
      <div class="service-item">
        <div class="service-item__decorate-last"></div>
        <img
          src="./assets/img/Service/icon.svg"
          alt=""
          class="service-item__icon"
        />
        <strong class="service-item__number">20+</strong>
        <span class="service-item__desc"
          >Tỉnh thành được GreenChop phủ sóng</span
        >
      </div>
    </div>
  </div>
</div>
