@use "../../variables";

.contacts {
  &-left {
    margin-top: 100px;
    margin-left: 146px;

    &__heading {
      text-align: initial;
    }

    &__sub-heading {
      margin-top: 15px;
      font-size: 1.6667rem;
      font-style: normal;
      font-weight: 600;
      line-height: 130%;
      color: variables.$primary-text-color;
    }
  }

  &-link {
    margin-top: 10px;
    font-size: 1.3333rem;

    &:nth-child(3) {
      margin-top: 30px;
    }
  }

  &-form {
    margin-top: 100px;
  }
}
